<html>
<form action="/result" method="POST">
    <p>アーティスト名</p>
    <input type="text" name="name" />
    <br>
    <p>アーティストの別名</p>
    <input type="text" name="aliasName">
    <br>
    <p>タグ(スペースで複数入力可)</p>
    <input type="text" name="tags">
    <br>
    <br>
    <input type="submit" />
</form>
</html>